<a href="/puppies">home</a>
<h1>ask a question</h1>
<form method=post action="/puppy/:id/ask_a_question">
  <p><label>ask a question</label>
<br/>
<textarea name="question" rows=4 cols=50></textarea></p>
<br/>
 <input type=submit value="submit question" />
</form>
