<html>
  <head>
    <title> Adopt A Puppy </title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>

  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
