<html>
<<<<<<< HEAD
	<head>
		<title>Adopt This Puppy!</title>
	</head>
	
	<body>
		<h1>Adopt Me!</h1>
		<p>Hi!! My name is Browny... I am twelve weeks old and very playful</p>
		<p><img src="http://placepuppy.it/300/300&n=12"/></p>
	</body>
</html>
=======
  <head></head>
  <title>Adopt This Puppy</title>
  <body>
   <h1>Adopt Me!</h1>
   <p>Hi! my name is Browny... I am twelve weeks old and very playful.</p>
   <p><br /><img src="http://placepuppy.it/300/300&n=12"/>
  </body>
   </html>
>>>>>>> dddd
