<html>
	<head>
		<title>
			Adopt A Puppy
		</title>
	</head>

	<body>
		<h1>Puppies!</h1>
		<ul>
			<li>browny <br /><img src="http://placepuppy.it/100/100&n=12"/>
				<br /><a href="/puppy/#"><button name="view_puppy" type="button">Adopt Me!</button></a>
			</li>
			<li>blondie <br /><img src="http://placepuppy.it/100/100&n=5">
				<br /><a href="/puppy/#"><button name="view_puppy" type="button">Adopt Me!</button></a>
			</li>
			<li>striped snake <br /><img src="http://placepuppy.it/100/100&n=27">
                <br /><a href="/puppy/#"><button name="view_puppy" type="button">Adopt Me!</button></a>
			</li>
		</ul>
	</body>
</html>