<html>
	<head>
		<title>
			Adopt A Puppy
		</title>
		<link rel="stylesheet" type="text/css" href="/stylesheet.css" />
	</head>

	<body>
		<h1 class="puppies">Puppies!</h1>
		<ul>
		  <% 
		    puppies = [
		      { :name => 'Browny', :picture_id => 12 },
		      { :name => 'Blondie', :picture_id => 5 },
		      { :name => 'Striped snake', :picture_id => 27 }
		    ]
		    
		    puppies.each do |puppy|
		    %>
			<li class="puppy"><%= erb :'partials/_puppy_li', :layout => false, :locals => puppy %> </li>
			<% end %>
		</ul>
	</body>
</html>