<html>
	<head>
		<title>Adopt This Puppy!</title>
	</head>
	
	<body>
		<h1>Adopt Me!</h1>
		<p>Hi!! My name is <%= @name %>... I am twelve weeks old and very playful</p>
		<p><img src="http://placepuppy.it/300/300&n=<%= @picture_id %>"/></p>
	</body>
</html>