<html>
	<head>
		<title>
			Adopt A Puppy
		</title>
		<link rel="stylesheet" type="text/css" href="/stylesheet.css" />
	</head>

	<body>
		<h1 class="puppies">Puppies!</h1>
		<ul>
			<li class="puppy"><%= erb :'partials/_puppy_li', :layout => false, :locals => { :name => 'Browny', :picture_id => 12 } %>
			</li>
			<li class="puppy"><%= erb :'partials/_puppy_li', :layout => false, :locals => { :name => 'Blondie', :picture_id => 5 } %>
			</li>
			<li class="puppy"><%= erb :'partials/_puppy_li', :layout => false, :locals => { :name => 'Striped snake', :picture_id => 27 } %>
			</li>
		</ul>
	</body>
</html>