<html>
	<head>
		<title>
			Adopt A Puppy
		</title>
		<link rel="stylesheet" type="text/css" href="/stylesheet.css" />
	</head>

	<body>
		<h1 class="puppies">Puppies!</h1>
		<ul>
			<li class="puppy">Brownie <br /><img class="puppypic" src="http://placepuppy.it/100/100&n=12"/>
			<br /><a href="/puppy" class="adoptionbutton">Adopt Me!</a>
			</li>
			<li class="puppy">Blondie <br /><img class="puppypic" src="http://placepuppy.it/100/100&n=5">
			<br /><a href="/puppy" class="adoptionbutton">Adopt Me!</a>
			</li>
			<li class="puppy">Striped Snake <br /><img class="puppypic" src="http://placepuppy.it/100/100&n=27">
    		<br /><a href="/puppy" class="adoptionbutton">Adopt Me!</a>
			</li>
		</ul>
	</body>
</html>