<html>
<head>
<title>adopt puppies for free </title>
</head>
<body> 
  <h1>Puppies!</h1>
  <ul>
  	<li>wolf <br /><img src="http://placepuppy.it/100/100"/></li>
  	<li>what?<br /><img src="http://placepuppy.it/150/150&n=2"/></li>
</body>
</html>